* {
    box-sizing: border-box; /* 设置元素的盒子模型 */
    margin: 0; /* 清除默认页面边距 */
    padding: 0; /* 清除默认内边距 */
}

body {
    font-family: Arial, sans-serif; /* 设置字体 */
    height: 100%; /* 设置body为全屏 */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    position: fixed; /* 固定在页面顶部 */
    top: 0;
    left: 0;
    right: 0;
    background-color:#f091a0 ; /* 背景颜色 */
    color: #efc4ce; /* 字体颜色 */
    font-size :15px; /* 字体大小 */;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex; /* 使用弹性布局 */
    margin-top: 50px; /* 留出顶部空间 */
}

.sidebar {
    width: 200px; /* 左侧导航宽度 */
    background-color: #e2a2ac; /* 背景颜色 */
    height:auto; /* 高度根据视口计算 */
}

.sidebar ul {
    list-style: none; /* 去掉列表符号 */
}

.sidebar ul li {
    padding: 15px; /* 列表项内边距 */
}

.sidebar ul li a {
    text-decoration: none; /* 去掉链接下划线 */
    color: #333; /* 链接颜色 */
}

.content {
	flex: 1;
	margin: 0 10px;
}

.right{
   height: auto;
	width: 180px;
	background:#e4b8d5;
    text-align: center;
}

.t-color{
    width: 100%;
    height: 100px;
    background: #D4E5EF;
#text{
    color: #eff0f1;
    text-align: center;
    }
}
.t-middle{
    font-size: 80px;
    color: #665f4d;
    text-align: center;
    background: #c6beb1;
}
.链接{
    text-decoration: none; /* 去掉链接下划线 */
    color: #333; /* 链接颜色 */
}
@keyframes break{
    0%{background-color: #f091a0;}
    50%{background-color: #e2a2ac;}
    100%{background-color: #f091a0;}
}
.led{
    width:  100%;
    height: 130px;
    animation: break 1s infinite;
}