html body{
    margin: 0;
   
    color: #a55741;
}

.unicon{
    list-style: none;
    text-decoration: none;
}
.none{
    margin-left: 0;
    text-align: left;
}

.doc{
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    background-color: #117cb0;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: 50px;
}

.doc h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.doc h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.doc p{
    font-size: 16px;
}
.tit{
    background-color: #e3f9fd;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#video{
    text-decoration: none; /* 去掉下划线 */
    color: #007bff; /* 设定链接文本颜色 */
    background-color: #f5f5f5; /* 设定链接背景色 */
    padding: 5px 10px; /* 设定内边距 */
    border: 1px solid #007bff; /* 设定边框 */
    border-radius: 5px; /* 设定圆角 */
    margin: 5px; /* 设定外边距 */
    display: inline-block; /* 将链接设置为块级元素，以便于设置宽度和高度 */
    transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
}
.top{
    text-decoration: none; 
    color: #000000; 
    background-color: #f5f5f5;
    padding: 5px 10px; 
    border: 1px solid #007bff; 
    border-radius: 5px;
    margin: 5px;
    display: inline-block; 
}
