body {
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 400px;
    text-align: center;
}
h1 {
    font-size: 3.5rem;
    color: #fbbf24;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    margin-bottom: -2rem;
}
.refresh-text {
    color: #ef4444;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -1rem;
}
.main-text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.small-text {
    font-size: 0.9rem;
    margin-bottom: -0.7rem;
    color: #999999;
}
.tiny-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #999999;
}
.button {
    background-color: #D946EF;
    color: white;
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 80%;
    margin: -0rem 0;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #6d28d9;
}
.cyan-text {
    color: #22d3ee;
    line-height: 0.8; /* 调整行高 */
}
.link {
    color: #22d3ee;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#copyFeedback {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}
.STYLE1 {
    color: #D946EF;
}
